<link rel="import" href="../../bower_components/polymer/polymer-element.html"> <!-- Todo elemento polymer lo debe tener-->
<!-- Se usa boostrap-->

<dom-module id="mi-visor">
  <template>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      img {
        width: 100px;
        height: 100px;
      }
    </style>
    <div class="container">
      <div class="row">
          <img src="https://image.flaticon.com/icons/svg/2722/2722078.svg" alt="some image from flaticon.com">
      </div>
      <div class="row">
        <button type="button" name="button" class="btn btn-secondary" on-click="incrementar">Cargar Datos</button>
        <input type="text" value="{{prop1::input}}">
        <input type="text" value="[[prop1]]">
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <th> ID </th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>Selena</td>
              <td>Uno</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Paola</td>
              <td>Uno</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Mario</td>
              <td>Tres</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-visor'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }

      incrementar(){
        this.prop2 += 1;
        console.log("Prop1: "+ this.prop1 + " | Prop2: " + this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
